:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: white;
  --input-bg-color: #F7F7F7;
  --main-text-color: #101828;
  --second-text-color: #475467;
  --main-btn-bg-color: #E44848;
  --main-btn-bg-color-hover: #D84343;
  --bg-categories: #F2F4F7;

  --medium: 500;
  --regular: 400;
  --semi-bold: 600;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
}

ul {
  list-style: none;
  padding: 0;
}

  button {
    font-family: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}


